*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

html,body{
  height: 100%;
  width:100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: #d5ff40;
}

nav{
 /* background-color: blue;*/
  padding: 60px 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .part2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
nav h2{
  font-size: 49px;
  font-weight: 500;
}
nav a{
  font-size: 39px;
  font-weight: 500;
  color:#000;
  text-decoration: none;
  gap: 30px;
}

section{
  /*background-color: red;*/
  padding:60px 100px;
}

section .hero-text1{
  /*background-color: rebeccapurple;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.hero-text1 h1{
  font-size: 150px;
  text-transform: uppercase;
  line-height: 300px;
  font-weight: 900;
}

.hero-text1 .video{
  height: 180px;
  width: 700px;
  background-color: black;
  border-radius: 100px;
  margin-top: 40px;
}


section .hero-text2{
  /*background-color: rebeccapurple;*/
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  
}

.hero-text2 h1{
  font-size: 150px;
  text-transform: uppercase;
  line-height: 300px;
  font-weight: 900;
}

.hero-text2 p{
  font-size: 40px;
  width: 900px;
  text-transform: uppercase;
  line-height: 300px;
  font-weight: 900;
}

