*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width:100%;
  background-color: lightgrey;
}
h1{
  color: rgb(152, 49, 49);
  background-color: rgb(103, 184, 103);
  font-size: 100px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

#box{
  height: 200px;
  width: 200px;
  background-color:  burlywood;
  margin: 30px;
  padding: 20px;
}

#parent{
  height: 200px;
  width: 200px;
  background-color: tomato;
}

#child{
  height: 50%;
  width: 100px;
  background-color: greenyellow;
}

button{
  margin: 40px;
  font-size: 20px;
  padding: 15px 30px;
  background-color:transparent;
  color: rgb(30, 135, 200);
  font-weight: normal;
  border: 2px solid seagreen;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

button:hover{
  background-color: black;
  color: white;
}

#box1{
 height: 200px;
 width: 200px;
 background-color: cornsilk;
 border: 2px solid #fff;
 position: absolute;
 left: 40%;
 
 transform:translate(-50%,-50%);

}

#box2{
  height: 200px;
  width: 200px;
  background-color: rosybrown;
  border: 2px solid #fff;
}

h4 span{
   font-size: 60px;
   border-radius:10px ;
   font-weight: 600;
   background-color: lightgreen;
   color: #fff;
   padding: 20px 40px;
   
}

#parent1{
  height: 100%;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.child1{
  height: 300px;
  width: 300px;
  background-color:skyblue;
  border: 1px solid white;

}

#child2{
  background-color: whitesmoke;
  background-image: url(https://media.istockphoto.com/id/1423154133/photo/wild-blackberry-fruit-growing-on-plant-the-the-black-mulberry-fruit-color-splash-effect.jpg?s=1024x1024&w=is&k=20&c=WH99rXgqj1R_fZWO8AU_SYapU9CfF4bHfZM7u4DdsZU=);
  block-size: cover;
  background-position:center;
 
}
